img.tick1{
	width:870px;
	opacity: 0.5;
	margin-top: 60px;
}
.tick1:hover{
	opacity: 1;
	transform: scale(1.05);
}
img.tick2{
	width:870px;
	opacity: 0.5;
	margin-top: 30px;
}
.tick2:hover{
	opacity: 1;
	transform: scale(1.05);
}


.footera {
	position:absolute;
	margin-top: 60px;
	width:100%;
	height:185px;
	background:#FF7744;
}
.footera p {
	text-align:center;
	font-size:32px;
	color:#FFDDAA;
	margin:0px;
	padding:0px;
	font-family: "微軟正黑體";
}


.gift{
	width:80px;
	margin-left: 780px;
	margin-top: 50px;
	margin-bottom: 15px;
	cursor: pointer;
}
.gift:active{
	transform: scale(0.8);
	opacity: 0.5;
}

.ti1 {
	width:800px;
}
.ti1:hover{
	transform: scale(1.05);
	cursor: pointer;
}
.camount {
	text-align: center;
	color:#FF3333;
	font-weight:bold;
	font:35px 微軟正黑體;
	margin-bottom: 0px;
}
.c1 {
	width:70px;
	margin-left:100px;
	margin-top: -40px;
	margin-bottom: -30px;
	opacity: 1;
}
.c1:active{
	transform: scale(0.8);
	opacity: 0.8;
}
.cname{
	text-align: center;
	color:#FF3333;
	font-weight:bold;
	font:50px 微軟正黑體;
	margin-top: 70px;
	margin-bottom: 50px;
}
.buy  {
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #FF3333;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;     
    opacity: 0.8; 
    margin-bottom: -10px;
    font-family: "微軟正黑體";
}
.buy:active {
    opacity: 0.5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.csite{
	margin-left: -200px;
}
.csite1{
	margin-left: -100px;
}
.csite2{
	margin-left: 310px;
	margin-top: -15px;
}
.csite3{
	color:#FF3333;
	font-weight:bold;
	font:35px 微軟正黑體;
	text-align: left;
	margin-left: -100px;
	margin-bottom: -20px;
}
.csite4{
	color:#FF3333;
	font-weight:bold;
	font:30px 微軟正黑體;
	text-align: left;
	margin-left: -100px;
	margin-right: 50px;
	margin-top: 100px;
}
.csite5{
	color:#FF3333;
	font-weight:bold;
	font:30px 微軟正黑體;
	text-align: left;
	margin-left: -100px;
	margin-right: 50px;
	margin-top: 50px;
}

.rating {
    font-size: 0;
    display: table;
    margin-top:30px; 
}
.rating > label {
    color: #ddd;
    float: right;
}
.rating > label:before {
   	padding: 5px;
    font-size: 80px;
    line-height: 1em;
    display: inline-block;
    content: "★";
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    opacity: 0.5;
}

          
ul,li {
    list-style: none;
}           
.btn-numbox {
   	overflow: hidden;
    margin-left: -30px;
}
.btn-numbox li {
    float: left;
}
.btn-numbox li .number,
.kucun {
    display: inline-block;
    font-size: 30px;
    color: #FF3333;
    font-family:微軟正黑體;
    vertical-align: sub;
}
.btn-numbox .count {
    overflow: hidden;
    margin: 0 16px 0 -20px;
}
.btn-numbox .count .num-jian,
.input-num,.num-jia {
	background-color: #FFBB66;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    color: #FF3333;
    cursor: pointer;
    border: 1px solid #FF7744;
}
.btn-numbox .count .input-num {
    width: 50px;
    height: 50px;
    color: #333;
    border-left: 0;
    border-right: 0;
}
.site0{
	margin-left: -5px;
}
.number{
	margin-left: 150px;
}
.btn-numbox {
	margin-bottom: 10px;
}
.kucun {
	margin-left:-15px;
}

#gift{
	padding: 0.5em; 
	font-family: 微軟正黑體; 
	font-size: 30px; 
	line-height: 1.5em; 
	letter-spacing: 0.1em;
	display: block; 
	text-align: justify; 
	display: none;
	background-color:  #FFDDAA;
}
#comment{
	padding: 0.5em; 
	font-family: 微軟正黑體; 
	font-size: 30px; 
	line-height: 1.5em; 
	letter-spacing: 0.1em;
	display: block; 
	text-align: justify; 
	display: none;
	background-color:  #FFCCCC;
}	
.comment0{
	padding-left: 50px;
	color:  #FF8888;
	font-size: 25px;

}
.comment0:hover{
	color: #FFA488;
}
.comment0:active{
	opacity: 0.5;
}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.text0{
	font-size: 35px;
	text-align: center;
}
.text1{
	font-size: 25px;
}

#jqtextcall0 {
	
	text-decoration: none;
	display: block;
	
}
#hiddenbox0 {
	border-radius: 30px;
	width: 60%;
	margin-left: 210px;
	margin-top:-60px;
	margin-bottom: 20px;
	background: #FFDDAA;
	padding-left:40px;
	padding-right:40px;
}
.clo{
	margin-top: -20px;
	margin-left:480px;
	width: 30px;
	opacity: 0.8;
}
.clo:active{
	transform: scale(0.8);
	opacity: 0.5;
}
.gp1{
	color:#FF7744;
	background-color:#FFBB66;
	font-style: border;
	width: 100px;
	text-align: center;
	font-family:"微軟正黑體";
	margin-top: -60px;
	font-size: 30px;
	border: 3px solid #FFAA33;
	border-radius: 30px;
}
.gp2{
	color:#FF7744;
	background-color:#FFBB66;
	font-style: border;
	width: 100px;
	text-align: center;
	font-family:"微軟正黑體";
	font-size: 30px;
	border: 3px solid #FFAA33;
	border-radius: 30px;
}

.gi{
	width:100px;
	height: 100px;
	margin-left: 15px;
	cursor: pointer;
}
.gi:hover{
	transform: scale(1.8);
}




#ly{
	position: absolute; 
	top: 885px;
	left: 490px; 
	filter: alpha(opacity=60); 
	background-color: #777;
	z-index: 2; 
	left: 0px; 
	display: none;
}
.clo1{
	margin-top: -180px;
	margin-left:480px;
	width: 30px;
	opacity: 0.8;
}
.clo1:active{
	transform: scale(0.8);
	opacity: 0.5;
}
a:link {
color: #FFFFFF;
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}

